* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  color: #141414;
  margin: 0 auto;
  font-size: 1.2rem;
  max-width: 100%; 
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #141414;
  display: block;
}
