.header-principal {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.header-lista {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header-lista li a {
  padding: 1rem 2rem;
}

@media (max-width: 800px) {
  .header-principal {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header-lista li a {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
}

@media (max-width: 395px) {
  .header-principal {
    padding: 1rem;
  }
}
